body {
    background: #f0f0f0;
}

.container {
    max-width: 1080px;
}

.content {
    background: #fff;
}

.text-muted a {
    color: #868e96;
}

.navbar {
    background: #111;
}

.navbar-brand img {
    width: 36px;
    vertical-align: middle;
}

.navbar-brand {
    font-family: 'Grand Hotel', cursive;
    text-transform: lowercase;
    font-size: 42px;
    font-weight: bold;
}

.btn-primary {
    background-color: #970000;
    border-color: #970000;
}

.btn-primary:hover {
    background: #aa0000;
    border-color: #aa0000;
}

.image {
    position: relative;
}

.actions {
    position: absolute;
    right: 0px;
    top: 0px;
}

#tagcloud a {
    display: none;
}
